@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 250px;
}

.icon-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-img {
    margin-right: 25px;
}

.nav-title {
    font-weight: 700;
    font-size: 2.8rem;
}

.pink-word {
    color: #FF42A5;
}

.nav-component,
.nav-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-heading li {
    list-style: none;
}

.nav-icon {
    border-radius: 7px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px 30px;
}

.nav-icon li {
    list-style: none;
}

.nav-heading li a {
    font-weight: 500;
    margin-right: 25px;
}

.goat {
    margin: 19px 240px 0px 240px;
}

.goat-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goat-total {
    background-image: url("../images/Group\ 14.png");
    background-size: contain;
    padding: 200px 200px;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.goat-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.goat-great {
    margin-top: 0;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

.goat-option {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
}

.goat-btn {
    margin-top: 15px;
}

.first-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 20px 40px;
    gap: 10px;
    border: 0;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));


}

.second-button {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-flex;
    padding: 20px 40px;
    gap: 10px;
    border: 0;
    align-items: flex-start;
    border-radius: 48px;
    background: #4EC5F7;
}

.goat-image img {
    margin-bottom: 25%;
    width: 600px;
}

.game-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.funny-video {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.game-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.online-game-item {
    margin: 10px 240px 0px 240px;
}

.online-game-title {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.online-game-image {
    display: flex;
    gap: 30px;
    width: 340px;
    height: 400px;
    margin-left: 5%;
    border-radius: 15px;

}

.play-section {
    margin: 0px 240px 0px 430px;
}

.instant-play {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15%;
}

.play-title {
    text-align: right;
    margin-top: 250px;
    margin-left: 100px;
}

.play-about {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.Play-Instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play-image img {
    border-radius: 10px;
}

.play-image-two {
    width: 250px;
    height: 300px;
    bottom: 200px;
    margin-right: 140px;
    position: relative;
}

.game-type {
    margin: 15px 250px 15px 500px;


}


.catagory-2,
.catagory-3,
.catagory-4,
.catagory-5,
.catagory-6,
.catagory-7,
.catagory-8,
.catagory-9,
.total-catagory,
.catagory-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    gap: 5px;
    border-radius: 50px;
    background: #FFF;
}

.total-footer {
    background-color: #0B0223;
    height: auto;
    text-align: center;
    padding: 50px 250px;
}

.footer-image-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.footer-image-title h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #FFF;
    margin-left: 20PX;

}
.G-color{
    color: palevioletred;
}
.nav-footer > ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-footer li{
    color: #FFF;
    list-style: none;
    margin-left: 30px;
}
.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 20px;
    margin-top: 20px;

}
.condition ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.condition li{
    list-style: none;
    margin-top: 20px;
    margin-left: 20px;
}
.end-title{
    color: #FFF;
    margin-top: 20px;
}
@media screen and (max-width:576px) {
    .nav ,.icon-title{
        flex-direction: column;
    }
    
}
@media screen and (min-width:576px) and (max-width:992px) {
    .nav ,.icon-title{
        flex-direction: column;
    }
    
}